<div class="container">
    <div class="row" >
      <div class="col-2 c-aside-left">
        <mat-list>
          <mat-list-item>
            <img class="aLogo" src="assets/logo.jpeg" style="height: 100px; width: 100px;"/>
          </mat-list-item>

          <mat-list-item title="home" routerLink="/timeline">
            <mat-icon mat-list-icon>home</mat-icon>
            <h4 mat-line>Home</h4>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item title="bookmarks">
            <mat-icon mat-list-icon>bookmark_border</mat-icon>
            <h4 mat-line>Bookmarks</h4>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item title="following" routerLink="/following/following">
            <mat-icon mat-list-icon>reply</mat-icon>
            <h4 mat-line>Following</h4>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item title="follower" routerLink="/following/follower">
            <mat-icon mat-list-icon style="transform: rotate(180deg)">reply</mat-icon>
            <h4 mat-line>Follower</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item title="profile" routerLink="/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <h4 mat-line>Profile</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item title="settings">
            <mat-icon mat-list-icon>settings</mat-icon>
            <h4 mat-line>Settings</h4>
          </mat-list-item>
        </mat-list>
        <br/>
        <button class="btn btn-lg btn-block btnSign" mat-raised-button (click)="openDialog()">peep</button>

      </div>

      <!-- main component start -->
      <div class="col-md-6 col-sm-10 c-main">
          <h5 class="row cm-title">
              <mat-icon mat-raised-button id="cm-back" class="col-1" routerLink="/timeline">keyboard_backspace</mat-icon>
              <p class="col-8"><b>John Doe</b> <br/><span class="handle">1,447 Peeps</span></p>
          </h5>

        <div class="row cm-peep">
            <div class="cmp-cover">
                <img src="assets/user_cover.jpg"/>
            </div>
            <div class="cmp-profile">
                <img class="aAvatar" src="assets/avatar.png"/>
            </div>
            <div class="cmp-btn">
                <button routerLink="/" class="btn" >Follow</button>
            </div>
        </div>

        <div class="cm-details">
            <p class="cmd-handle"><b>John Doe</b> <br/><span class="">@john_miquel</span></p>
            <p class="cmd-bio">Living mutual has always been at the core of human existence, and it's guided us since our founding in 1851. </p>
            <p class="cmd-follow">127 <span class="">Following</span> &nbsp; &nbsp; &nbsp; 300 <span class="">Follow</span></p>

        </div>

        <!-- user timelines -->
        <div class="cm-timelines">
            <mat-tab-group mat-align-tabs="start" >
                <mat-tab label="Peeps">
                     <!-- timeline -->
                    <div class="cm-timeline row">
                        <span class="col-1 cmt-img">
                            <img class="aAvatar" src="assets/avatar.png"/>
                        </span>

                        <span class="col-11 cmt-text">
                          <p class="cmtt-title"><b>John Doe</b> &nbsp; &nbsp;
                            <span id="cmttt-handle">@handle • 13h</span>
                          </p>
                          <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups,  ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual </p>
                          <div class="cmtt-img">

                          </div>
                          <div class="row cmtt-action">

                            <span class="ca-action"><mat-icon> favorite_border </mat-icon></span>
                            <span class="col-3 ca-count">82.5K</span>

                            <span class="ca-action"><mat-icon> comment </mat-icon></span>
                            <span class="col-3 ca-count">7.2k</span>

                            <span class="ca-action"><mat-icon> bookmark_border </mat-icon></span>
                          </div>



                        </span>
                      </div>

                      <!-- timeline -->
                      <div class="cm-timeline row">
                        <span class="col-1 cmt-img">
                            <img class="aAvatar" src="assets/avatar.png"/>
                        </span>

                        <span class="col-11 cmt-text">
                          <p class="cmtt-title"><b>John Doe</b> &nbsp; &nbsp;
                            <span id="cmttt-handle">@handle • 13h</span>
                          </p>
                          <p>Lorehhsdhas m ipsum is placeholder text commonly used in the graphic, print, and publishing industries for pre </p>
                          <div class="cmtt-img">
                            <img src="assets/HIyWCaRh.jpg"/>
                          </div>
                          <div class="row cmtt-action">

                            <span class="ca-action"><mat-icon> favorite_border </mat-icon></span>
                            <span class="col-3 ca-count">82.5K</span>

                            <span class="ca-action"><mat-icon> comment </mat-icon></span>
                            <span class="col-3 ca-count">7.2k</span>

                            <span class="ca-action"><mat-icon> bookmark_border </mat-icon></span>
                          </div>



                        </span>
                      </div>

                      <!-- timeline -->
                      <div class="cm-timeline row">
                        <span class="col-1 cmt-img">
                            <img class="aAvatar" src="assets/avatar.png"/>
                        </span>

                        <span class="col-11 cmt-text">
                          <p class="cmtt-title"><b>John Doe</b> &nbsp; &nbsp;
                            <span id="cmttt-handle">@handle • 13h</span>
                          </p>
                          <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups,  ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual </p>
                          <div class="cmtt-img"></div>
                          <div class="row cmtt-action">

                            <span class="ca-action"><mat-icon> favorite_border </mat-icon></span>
                            <span class="col-3 ca-count">82.5K</span>

                            <span class="ca-action"><mat-icon> comment </mat-icon></span>
                            <span class="col-3 ca-count">7.2k</span>

                            <span class="ca-action"><mat-icon> bookmark_border </mat-icon></span>
                          </div>



                        </span>
                      </div>

                      <!-- timeline -->
                      <div class="cm-timeline row">
                        <span class="col-1 cmt-img">
                            <img class="aAvatar" src="assets/avatar.png"/>
                        </span>

                        <span class="col-11 cmt-text">
                          <p class="cmtt-title"><b>John Doe</b> &nbsp; &nbsp;
                            <span id="cmttt-handle">@handle • 13h</span>
                          </p>
                          <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups,  ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual </p>
                          <div class="cmtt-img">
                            <img src="assets/XNBgQIbg.jpg"/>
                          </div>
                          <div class="row cmtt-action">

                            <span class="ca-action"><mat-icon> favorite_border </mat-icon></span>
                            <span class="col-3 ca-count">82.5K</span>

                            <span class="ca-action"><mat-icon> comment </mat-icon></span>
                            <span class="col-3 ca-count">7.2k</span>

                            <span class="ca-action"><mat-icon> bookmark_border </mat-icon></span>
                          </div>



                        </span>
                      </div>

                </mat-tab>
            </mat-tab-group>



        </div>

      </div><!-- end of main -->




      <div class="col-3 c-aside-right">
        <div class="car-search">
            <mat-form-field appearance="outline" class="mat-form-group">
                <mat-label>Search Peep</mat-label>
                <input type="email" matInput placeholder="search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="car-suggest">
          <h6>Who to follow</h6>
          <!-- contact row -->
          <div class="row cars-contact" >
              <span class="col-2 carsc-1">
                  <img class="aAvatar" src="assets/avatar.png"/>
              </span>
              <span class="col-6 carsc-2" routerLink="/user"><b>MilanMiranda.</b> <br/><span class="handle">@azarq_m</span></span>
              <span class="col-4 carsc-3">
                <button routerLink="/" class="col btn btn-lg btn-block btnFollow">Follow</button>
              </span>
          </div>
          <!-- contact row -->
          <div class="row cars-contact">
              <span class="col-2 carsc-1">
                  <img class="aAvatar" src="assets/avatar.png"/>
              </span>
              <span class="col-6 carsc-2" routerLink="/user"><b>huda.hidhuda</b> <br/><span class="handle">@azarq_m</span></span>
              <span class="col-4 carsc-3">
                <button routerLink="/" class="col btn btn-lg btn-block btnFollow">Follow</button>
              </span>
          </div>
          <!-- contact row -->
          <div class="row cars-contact">
              <span class="col-2 carsc-1">
                  <img class="aAvatar" src="assets/avatar.png"/>
              </span>
              <span class="col-6 carsc-2" routerLink="/user"><b>huda.hidhuda</b> <br/><span class="handle">@azarq_m</span></span>
              <span class="col-4 carsc-3">
                <button routerLink="/" class="col btn btn-lg btn-block btnFollow">Follow</button>
              </span>
          </div>
          <!-- contact row -->
          <div class="row cars-contact">
              <span class="col-2 carsc-1">
                  <img class="aAvatar" src="assets/avatar.png"/>
              </span>
              <span class="col-6 carsc-2" routerLink="/user"><b>huda.hidhuda</b> <br/><span class="handle">@azarq_m</span></span>
              <span class="col-4 carsc-3">
                <button routerLink="/" class="col btn btn-lg btn-block btnFollow">Follow</button>
              </span>
          </div>
          <!-- contact row -->
          <div class="row cars-contact">
              <span class="col-2 carsc-1">
                  <img class="aAvatar" src="assets/avatar.png"/>
              </span>
              <span class="col-6 carsc-2" routerLink="/user"><b>huda.hidhuda</b> <br/><span class="handle">@azarq_m</span></span>
              <span class="col-4 carsc-3">
                <button routerLink="/" class="col btn btn-lg btn-block btnFollow">Follow</button>
              </span>
          </div>


        </div>
      </div>
    </div>
  </div>
